<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnStr" value="Data Source=WKWAE3955183\\JOOSERVER;Initial Catalog=-PlannerApp;Integrated Security=True"/>
		<add key="TestDB" value="Data Source=SQL6012.site4now.net;Initial Catalog=db_a67332_elplatform;User Id=db_a67332_elplatform_admin;Password=TcA@1234"/>

	</appSettings>
</configuration>